* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile {
    
    background-color: aqua;
    border-style: solid;
    border-radius: 8px;
}