* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridContainer,
.btnContainer {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    padding-top: 20px;    
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.tile {
    border-style: solid;
}